<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel="stylesheet" href="css/styles.css"/> 
    </head>
    <body>
        <div class="main-content" >
            
            <article class="widget">
                <h1 class="h1">Weather App</h1>
                <form class="weatherLocation" action="/" method="POST">
                    <input placeholder="location..." type = "text" name="cityName"/>
                    <button>Search</button>
                </form>
                
                  
                <div class="weatherIcon">
                    <% if(weather && weather.weatherIcon){ %>
                        <img src="<%= weather.weatherIcon %>" />
                    <% } else{ %>  
                        <i class="wi wi-cloud"></i>
                    <% } %>
                </div>
                <div class="weatherInfo">
                    <div class="temperature"><span>
                        <% if(weather && weather.temp !== null){ %>
                        <%= weather.temp %>
                        <% } %>
                    </span></div>
                    <div class="description">
                        <% if(error !== null){ %>
                            <%= error %>
                          <% } %>    
                        <div class="weatherCondition">
                            
                            <% if(weather && weather.weatherCondition !== null){ %>
                                <%= weather.weatherCondition %>
                            <% } %>
                        </div>    
                        <div class="place">
                            
                            <% if(weather && weather.place !== null){ %>
                                <%= weather.place %>
                            <% } %>
                            
                        </div>
                    </div>
                </div>
                <div class="date">
                    <% if(weather && weather.date !== null){ %>
                        <%= weather.date %>
                    <% } %>
                </div>
                <div><a href="https://codepen.io/takeradi/pen/ONJzEv" target="_blank">HTML and CSS credit </a></div>
            </article>
            
        </div>
        <div>
            
        </div>
    </body>
</html>